# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Build
build/
dist/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/

# Environment
.env